@import '../../app/styles/abstracts/mixins';
@import '../../app/styles/abstracts/variables';

.loader {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  border: .2rem solid white;
  border-top-color: $color-font-main-light;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}