@import '../../app/styles/abstracts/mixins';
@import '../../app/styles/abstracts/variables';

.card {
  @include base-shadow;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13rem;
  height: 20rem;
  padding: 1.2rem .9rem;
  background: $color-bg-item-light;
  border-radius: 0 2rem;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    &__container {
      position: relative;
      width: 11.1rem;
      height: 8.7rem;
      margin-bottom: .8rem;
      overflow: hidden;
      border-radius: 0 2rem;
    }
  }

  &__title {
    width: 100%;
    overflow: hidden;
    text-align: center;
  }

  &__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include font(1.4rem, 2.1rem, 700);

    &_full {
      margin-top: -.3rem;
      overflow: hidden;
      white-space: nowrap;
      text-transform: capitalize;
      text-overflow: ellipsis;

      @include font(.8rem, 1rem, 400, #616F80);
    }
  }

  &__price {
    @include font(1.8rem, 2.7rem, 700);

    margin-bottom: .3rem;

    &_currency {
      @include font(1.2rem, 1.8rem, 300, $color-currency);
    }
  }

  &_dark {
    background: $color-bg-item-dark;

    .card {
      &__name,
      &__price {
        color: #D1D1D1;
      }
    }
  }
}