@mixin font($size, $line-height, $weight, $color: $color-font-main-light) {
  color: $color;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

@mixin base-shadow {
  box-shadow: 0 .4rem 1.5rem #0000000D
}