// COLORS

// fontt
$color-font-main-light: #104E5B;
$color-font-main-dark: #F2F6F7;
$color-font-button: #2B2D33;
$color-font-auth-sub: #616F80;
$color-currency: #99C932;

// background

$color-bg-light: #F2F6F7;
$color-bg-dark: #232033;
$color-bg-item-light: #FFF;
$color-bg-item-dark: #26273B;
$color-accent: #FDC27A;
$color-accent-transparent-light: #FDC27AE6;
$color-accent-transparent-hard: #FDC27A1A;

// icons

$color-icon-menu: #D9D9D9