@import '../../../app/styles';

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.9rem;

  &_name,
  &_price {
    @include font(2.4rem, 3.6rem, 700);

    &_dark {
      color: #D1D1D1
    }
  }

  &_productname {
    @include font(1.4rem, 2.8rem, 400, #616F80);

    margin-top: -1rem;
    text-transform: capitalize;
  }

  &_name {
    max-width: 19rem;
  }

  &_price {
    &_currency {
      @include font(1.4rem, 2.1rem, 300, $color-currency);
    }
  }
}