@import '../../../app/styles/abstracts/mixins';
@import '../../../app/styles/abstracts/variables';

.receipt {
  @include base-shadow;

  height: 14rem;
  padding: 2rem;
  background: $color-bg-item-light;
  border-radius: 2rem;

  &__details {
    @include font(1.4rem, 2.8rem, 400);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
    border-bottom: dashed .1rem #BEBEBE;

    &:first-of-type {
      padding-top: 0;
    }
  }

  &__total {
    @include font(1.8rem, 2.8rem, 700);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;

    &_price {
      color: #FF6347
    }
  }

  &_dark {
    background: $color-bg-item-dark;

    .receipt {
      &__details,
      &__total {
        color: #D1D1D1
      }
    }
  }
}