.form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 100%
}

.button-container {
  width: 24.8rem;
  height: 4.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}