@import '../../app/styles';

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.2rem;
  background-color: $color-bg-item-light;
  border-radius: 0 0 4rem 4rem;
  box-shadow: 0 .4rem 1.5rem #0000000D;

  &__logo {
    margin-bottom: 1.6rem
  }

  &__title {
    @include font(2.8rem, 4.2rem, 700);

    &_sub {
      @include font(1.6rem, 2.8rem, 400, $color-font-auth-sub);

      margin: -.6rem 0 2.3rem;
    }
  }
}