@import '../../../app/styles';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;

  &__title {
    @include font(2.4rem, 3.6rem, 700)
  }

  &__button {
    width: 2.4rem;
    height: 2.4rem;
    background: url('../../../shared/assets/icons/close.svg') no-repeat center;
    border: none;
    cursor: pointer;
  }
}