@import '../../../app/styles';

.header {
  @include base-shadow;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.2rem;
  background: $color-bg-item-light;
  border-radius: 0 0 4rem 4rem;
  transition: .4s;

  &__logo {
    width: 12.7rem;
    height: 12.7rem;
    margin-bottom: 1.6rem;
    background: url('../../../shared/assets/images/logo.png') no-repeat center
  }

  &__title {
    @include font(2.8rem, 4.2rem, 700);

    &_sub {
      @include font(1.6rem, 2.8rem, 400, $color-font-auth-sub);

      margin: -.6rem 0 2.3rem;
    }
  }

  &_dark {
    background: $color-bg-item-dark;

    .header {
      &__title {
        color: $color-font-main-dark;

        &_sub {
          color: #A09FA3;
        }
      }
    }
  }


}