@use "sass:color";
@import '../../app/styles/abstracts/mixins';
@import '../../app/styles/abstracts/variables';

.button {
  @include font(.8rem, 1rem, 600);

  width: 10rem;
  height: 2.4rem;
  background: $color-accent;
  border: none;
  border-radius: 0 1.5rem;
  box-shadow: 0 .4rem .5rem #0000000D;
  cursor: pointer;
  transition: .2s;

  &:active {
    background: color.adjust($color-accent, $lightness: -10%)
  }
}