@import '../../app/styles/abstracts/mixins';
@import '../../app/styles/abstracts/variables';

.methods {
  @include base-shadow;

  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  width: 24rem;
  height: 15rem;
  padding: 2.4rem 2.6rem 2.6rem 2.2rem;
  background: $color-bg-item-light;
  border-radius: 2rem;

  &_dark {
    background: $color-bg-item-dark;
  }
}