@import '../../../app/styles/abstracts/mixins';
@import '../../../app/styles/abstracts/variables';

.icon {
  width: 2rem;
  height: 2rem;
  transition: .4s;
  fill: $color-icon-menu;

  &_bag {
    fill: $color-font-main-light;
  }
}