.filter {
  display: flex;
  gap: 1.2rem;
  width: fit-content;
  padding-right: 2.3rem;

  &__container {
    width: calc(100% + 2.2rem);
    margin-bottom: 3.1rem;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}