@import '../../app/styles';

.link-active>svg {
  fill: $color-accent
}

.order {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background-color: $color-accent;
  border: .2rem solid $color-bg-item-light;
  border-radius: 50%;
  box-shadow: 0 0 0 1rem $color-bg-light;
  transform: translateY(-60%);

  &::before,
  &::after {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: transparent;
    content: '';
  }

  &::before {
    top: 2.8rem;
    left: -2.6rem;
    border-top-right-radius: 2rem;
    box-shadow: 0 -1rem 0 0 $color-bg-light;
  }

  &::after {
    top: 2.8rem;
    right: -2.6rem;
    border-top-left-radius: 2rem;
    box-shadow: 0 -1rem 0 0 $color-bg-light;
  }
}