@import '../../app/styles/abstracts/mixins';
@import '../../app/styles/abstracts/variables';

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: $color-bg-item-light;
  border-radius: 1rem;

  &_dark {
    background-color: $color-bg-item-dark;
  }

  &__button {
    @include font(1.6rem, 2.8rem, 600);

    width: 48%;
    height: 5rem;
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    background: $color-accent;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 .4rem 1rem #0000001A;
    cursor: pointer;
    transition: .4s;

    &:hover {
      box-shadow: 0 .8rem 1rem #0000001A;
    }

    &:active {
      box-shadow: none;
    }

    &_submit {
      background: $color-accent;
    }

    &_back {
      color: white;
      background: #D7443E;

      &:disabled {
        box-shadow: none;
        filter: grayscale(1);
      }
    }
  }
}

.input {
  width: 100%;
  padding: 1rem;
  border: .1rem solid $color-bg-light;
  border-radius: 1rem;

  &_cvc,
  &_date {
    width: 48%;
  }

  &_dark {
    border-color: $color-bg-dark;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}