@import '../../app/styles/abstracts/mixins';
@import '../../app/styles/abstracts/variables';

.notifications {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2.9rem 2.6rem 7.5rem;


  &__heading {
    @include font(2.4rem, 3.6rem, 700);

    margin-bottom: 4.4rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__container {
      position: relative;
      z-index: 3;
      flex: 1;
      height: 100%;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.dark {
  color: $color-font-main-dark-second
}