@import '../../app/styles/abstracts/mixins';
@import '../../app/styles/abstracts/variables';

.item {
  &__container {
    @include base-shadow;

    width: 100%;
    height: 13.6rem;
    background: $color-bg-item-light;
    border-radius: 2rem;

    &_dark {
      background: $color-bg-item-dark;
    }
  }

  &__deliveryman {
    display: grid;
    grid-template-columns: 5rem 1fr 4.5rem;
    gap: 1.4rem;
    align-items: center;
    height: 7.7rem;
    padding: 1.4rem 1.7rem 1.3rem 1.5rem;
    border-bottom: .1rem dashed $color-border;

    &__avatar {
      width: 5rem;
      height: 5rem;
      border-radius: 1.5rem;
      box-shadow: 0 .4rem .5rem #0000000D;
    }

    &__info {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      &_name {
        @include font(1.4rem, 2.1rem, 700);

        &_dark {
          color: $color-font-main-dark-second
        }
      }

      &_id {
        @include font(1.2rem, 1.2rem, 400, #616F80);
      }

      &_title {
        @include font(1.1rem, 1.8rem, 600, $color-border)
      }

      &_name,
      &_id {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &__call {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4.5rem;
      height: 4.5rem;
      background: $color-accent;
      border: none;
      border-radius: 1.5rem;
      box-shadow: 0 .4rem .5rem #0000000D;
      cursor: pointer;

      &_disabled {
        display: none;
      }
    }
  }

  &__info {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.3rem 2rem 1.6rem;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
}