.container {
  position: relative;
  z-index: 3;
  flex: 1;
  overflow: auto;
  transition: .5s;

  &::-webkit-scrollbar {
    display: none;
  }
}

.dishes {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2.5rem 2.9rem;
  justify-content: center;
  justify-items: stretch;
}